main {
    width: 95%;
    margin: auto;
}

.contenedor {
    margin: auto;
}

.row {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 10px;
    /* Ajusta el espacio entre las tarjetas */
}

/* Media queries para hacer responsivo */
@media (max-width: 1366px) {
    main {
        width: 100%;
        margin: 0rem;
    }

    .row {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 720px) {
    main {
        width: 100%;
        margin: 0;
    }

    .row {
        grid-template-columns: repeat(2, 1fr);
    }
}

.card-container {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 14rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
    margin: auto;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    /* La imagen ocupa el 100% del contenedor */
    margin: auto;
}

.logo-img {
    width: 100%;
    height: auto;
}

.button-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}


.custom-button {
    text-align: center;
    background-color: #4b5563;
    /* Color gris equivalente en Tailwind */
    color: #ffffff;
    /* Color blanco en Tailwind */
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 0.5rem;
    font-weight: 600;
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-out;
    width: 100%;
    border: none;
    font-size: smaller;
    text-decoration: none;
    margin-top: .25rem;
    margin-bottom: .25rem;
    display: flex;
    justify-content: center;
}

.custom-button:hover {
    background-color: #d1d5db;
}

.custom-button:focus {
    transform: scale(0.95);
    /* Escala del elemento al enfocar en Tailwind */
}


a {
    text-decoration: none;
}

#modalOverlay {
    display: none;
    background: rgba(0, 0, 0, 0.3);
}

.modal-body {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.modal-content {
    width: 95%;
    align-items: center;
}

.modal-footer {
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    text-decoration: none;
}

.borde {
    border: 1px solid #dc3545;
}

.footer {
    text-align: center;
    margin-top: 5rem;
}

.rojo {
    background-color: #dc3545;
}
.w-95{
    width: 95%;
}